@CHARSET "ISO-8859-1";
.header_detail_lg{
	width: 100%;
	height: 56px;
	background: #eee;
	position: relative;
}
.main_header_detail{
	width: 100%;
	height: 56px;
	position: relative;
	z-index: 50;
	float: left !important;
	margin-top: 0;
}
.main_header_detail_item{
	position: absolute;	
	z-index: 9955;
	position: relative;
	float: left;
}
.main_header_detail_item a{
	text-decoration: none;
}
.main_header_detail_item_link{
	    font-size: 16px;
    color: #26498c;
    line-height: 18px;
    float: left;
    text-shadow: 0 0 1px rgba(255,255,255,0.8);
    text-align: center;
    position: relative;
    padding-top: 18px;
    margin-right: 15px;
	
}
textarea{
	width: 100%;
}
.detail-product-name{
	font-size: 25px;
	font-weight: 600;
}
.form-detail-timecountdown{
	display: flex;
}
.form-detail-timecountdown h3{
	color: #f37021;
}
.form-detail-timecountdown p{
	margin: 25px 0 10px;
}
.content-detail-title{
	margin-top: 10px;
}
.content-detail-title p{
	margin-left: 15px;
}
.main_header_detail_item_name{
	color: #f37021;
}
.main-content-detail{
	background: #eee;
}
.main-content-detail-contain{
	background: #fff;
}
.modal-content-review{
	background: #eee;
}
.single-product-info-timecountdown-title-notice{
	text-align: center;
}
.single-product-info-timecountdown-title-notice label{
	color: rgba(112, 243, 33, 0.54);
	font-size: 20px;
}
.single-product-info-timecountdown-title-notice p{
	font-size: 20px;
	margin-top: -7px;
}
@media screen and (max-width:320px){
	.single-product-info-timecountdown-item{
		margin-left: 120px;
	}
}
@media screen and (max-width:360px){
	.single-product-info-timecountdown-item{
		margin-left: 120px;
	}
}
@media screen and (max-width:412px){
	.single-product-info-timecountdown-item{
		margin-left: 160px;
	}
}