@CHARSET "ISO-8859-1";

.content-page {
	/* background: rgba(238, 238, 238, 0.48); */
	
}

.profile-avarta {
	padding: 10px 15px;
	border: 1px solid #eee;
	background: #eee;
}

.profile-image {
	text-align: center;
}

.profile-infor {
	text-align: center;
}

.profile-tab {
	background: #efefef;
	height: 45px;
}

.profile-tab li {
	margin-bottom: 0px;
}

.profile-tab li.active a {
	background-color: #efefef;
	border-radius: 0;
	color: #777;
	border: none;
}

.profile-tab li.active a:hover, .profile-tab li.active a:focus {
	color: #777;
	cursor: default;
	background-color: #efefef;
	border: none;
	border-bottom-color: none;
}

.profile-tab li a {
	color: #777;
	border: none;
	border-radius: 0;
	margin-right: 0;
	text-transform: uppercase;
	font-size: 14px;
}

.profile-tab li a:hover {
	background: #efefef;
	border-color: #efefef;
	border-radius: 0;
	color: #777;
}

.profile-tab li a:focus {
	border-color: #283744;
}

.btn-edit-profile {
	border-radius: 0;
	text-align: center;
	background: #59b210;
	border: #59b210;
}

.btn-edit-profile:hover {
	background: #283744;
}

.profile_item_title h3 {
	font-size: 18px;
	font-weight: bold;
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.8);
	padding: 5px;
}

.profile_body_item img {
	width: 100%;
	height: 100%;
}

.profile_body_item button {
	border-radius: 0;
}

.profile_feedback_product {
	padding: 10px 15px;
	background: #eee;
}

.profile_body_item_order {
	background: #eee;
}

.profile_order_user, .profile_order_ship {
	padding: 10px 15px;
	background: rgba(50, 144, 144, 0.38);
	border: 1px solid rgba(128, 128, 128, 0.18);
}

.profile_order_product button {
	border-radius: 0;
}

.profile_info_item {
	padding: 10px;
	background: #eee;
}

.profile_item_order_home {
	margin-top: 10px;
}

.profile_heading_main_item {
	display: flex;
	justify-content: space-between;
}

.btn_profile_heading_manager {
	border-radius: 12px;
	padding: 5px;
	border: 1px solid #dadada;
	background-color: #f8f8f8;
}

#home h4 {
	font-size: 16px;
}

.btn-status-order {
	background-color: #f8f8f8;
	border-radius: 12px;
	border: 1px solid #dadada;
	color: gray;
}

.btn-status-order:hover {
	background-color: #f8f8f8;
	color: gray;
	border: 1px solid #dadada;
}

.content_main_profile_order {
	background: #fff;
	margin-right: 0px;
	margin-left: 0px;
}

.content_main_profile_order_detail {
	margin-top: 10px;
}

.profile_order_item_body p {
	margin: 0 0 5px;
}

.profile_order_item_check {
	padding: 10px;
	background: #eee;
	display: flex;
	margin-bottom: 20px;
	border-radius: 7px;
	border: 1px solid gray;
}

.tbl_order_item_body_info tbody tr td {
	padding: 30px;
}

@media screen and (max-width:360px) {
	.profile_item_title h3:before {
		top: 125px
	}
	.tbl_order_item_body_info tbody tr td {
		padding: 4px;
	}
	.table-hover tbody tr .btn_view_detail_order{
	padding: 7px;
	}
}

@media screen and (max-width:412px) {
	.profile_item_title h3:before {
		top: 125px
	}
}

@media screen and (max-width:320px) {
	.profile_item_title h3:before {
		top: 165px
	}
	.tbl_order_item_body_info tbody tr td {
		padding: 4px;
	}
	.table-hover tbody tr .btn_view_detail_order{
	padding: 2px}
}

@media screen and (max-width:414px) {
	.profile_item_title h3:before {
		top: 125px
	}
}

@media screen and (max-width:768px) {
	.profile_item_title h3:before {
		top: 125px
	}
}