@CHARSET "ISO-8859-1";
body{
	margin: 0;
	padding: 0;
	background:url("../images/backgroundmenu/background_3.jpg") no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover; 
	background-size: cover;
}
.form-register{
	width: 350px;
	height: auto;
	padding: 10px 25px;
	border-bottom: 5px solid gray;
	border-radius:3px;
	transform: translateX(-50%) translateY(-50%);
	top: 50%;
	left: 50%;
	position: absolute;
	background: rgba(0,0,0,0.35);
}
.register-avatar{
	width: 100px;
	height: 100px;
	position: relative;
	background: skyblue;
	margin: 0 auto;
	margin-bottom: 60px;
	border-radius: 100px;
}
.register-avatar > img{
	width: 100px;
	height: 100px;
	overflow: hidden;
}
.form_register{
	position: relative;
	width: 100%;
	margin: 25px auto;
}
.form_input_register{
	width: 100%;
	height: 50px;
	position: relative;
	margin: 8px auto;
}

.fa{
	position: relative;
    top: -41px;
    left: 281px;
    color: rgba(128, 128, 128, 0.64);
}
input[type="text"],
input[type="email"],
input[type="password"]{
	width: 100%;
	height: 50px;
	position: relative;
	/* margin: 8px auto; */
	border-radius: 5px solid gray;
	border:5px;
}
input[type="submit"]{
	width: 100%;
	height: 50px;
	background: #2F4F4F;
	font-family: sans-serif;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	border: 1px solid #ddd;
}
.error{
	position: relative;
	animation: shake 0.2s;
}
@keyframes shake{
	0%,100%{
		left:0px;
	}
	20%, 80%{
		left:-15px;
	}
	40%,60%{
		left:15px;
	}
}
.form.cmxform label.error, label.error{
	color: red;
	font-style: italic;
}
input.error{
	border: 1px solid red;
}