body {
	padding: 0;
	margin: 0;
}
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
	width: 100%;
	margin: auto;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img {
	width: 100%;
}
/* .slide-show{
	height: 350px;
} */
.header_top_bg {
	background: #11252f;
	height: 35px;
	position: relative;
	width: 100%;
	z-index: 100;
	padding: 0 5px;
	padding-top: 10px;

}

.header_top_logo {
	background: url(images/logo/ttt.gif) no-repeat;
	background-size: 80px;
	float: left;
	width: 140px;
	height: 44px;
	margin: 1px 0px;
}

.header_slogan {
	float: left;
	color: #fff;
	font-size: 14px;
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.8);
	margin: 19px 8px 0 -50px;
}

.header_top_account {
	width: 100%;
/* 	height: 44px; */
	position: relative;
	margin-top: 0;
	z-index: 65;
}

/* .header_login {
	border-right: 1px dotted #eee;
} */

.header_login_link {
	color: #a8b2b7;
	font-size: 11px;
	line-height: 18px;
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.8);
	padding: 10px;
	text-transform: uppercase;
}
.item-settings{
	top: 0;
}
.nav .open >a:focus{
	background-color: #333333;
}
.header_login_link i {
	padding: 5px;
}

.header_login_link:hover {
	color: #fff;
	text-decoration: none;
}

.header_top_logo {
	padding: 0px 10px;
}

.header_top_logo>img {
	width: 50px;
	height: auto;
}

.input_find {
	 width: 100%;
	-webkit-transition: width 1s;
	transition: width 1s;
}
.no-padding {
	padding: 0;
}
.header_middle {
	padding: 10px;
	margin-top: 0px;
}

.header_menu_bg {
	background: #11252f;
	height: 50px;
	width: 100%;
	z-index: 100;
	position: relative;
	border-bottom: 3px solid #111;
}


.main_menu_bg {
	width: 100%;
	height: 50px;
	position: relative;
	margin-top: 0;
	float: left ! important;
	z-index: 50;
}

.main_menu_item {
	position: absolute;
	z-index: 9955;
	height: 50px;
	position: relative;
	float: left;
	border-right: 1px dotted;
}

.main_menu_item a {
	text-decoration: none;
}

.main_menu_item_link {
	color: #E8E8E8;
	font-size: 13px;
	line-height: 18px;
	font-weight: 500;
	text-align: center;
	padding: 0px 18px;
	padding-top: 18px;
	float: left;
	text-transform: uppercase;
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.8);
	position: relative;
	height: 50px;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
}

.main_menu_item_active {
	background: #649239;
	color: #E8E8E8;
	font-size: 13px;
	line-height: 18px;
	font-weight: 500;
	text-align: center;
	padding: 0px 18px;
	padding-top: 18px;
	float: left;
	text-transform: uppercase;
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.8);
	position: relative;
	height: 50px;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
}

.main_menu_item_active:hover {
	color: #E8E8E8;
	text-decoration: none;
	text-shadow: none;
}

.main_menu_item_link:hover {
	color: #E8E8E8;
	text-shadow: none;
	text-decoration: none;
}

.main_menu_item_link span {
	font-size: 12px;
	color: #11252f;
	top: 0;
	left: 0;
	width: 100%;
	height: 47px;
	text-align: center;
	position: absolute;
	text-shadow: none;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.main_menu_item:first-child .main_menu_item_link {
	padding-left: 20px;
}

.main_menu_item_link span.laptop_item {
	background: url(images/laptop1.png) no-repeat center -196px;
	background-size: 30px 30px;
}

.main_menu_item_link span.fashion_item {
	background: url(images/laptop1.png) no-repeat center -196px;
	background-size: 30px 30px;
}

.main_menu_item_link span.watch_item {
	background: url(images/watch-3.png) no-repeat center -196px;
	background-size: 30px 30px;
}

.main_menu_item_link span.shoe_item {
	background: url(images/Running_shoe_icon.png) no-repeat center -196px;
	background-size: 30px 30px;
}

.main_menu_item_link span.beauty_item {
	background: url(images/beauty.png) no-repeat center -196px;
	background-size: 30px 30px;
}

.main_menu_item_link span.jewelry_item {
	background: url(images/jewelry.png) no-repeat center -196px;
	background-size: 30px 30px;
}

.main_menu_item_link span.child_item {
	background: url(images/baby.png) no-repeat center -196px;
	background-size: 30px 30px;
}
.main_menu_item_link span.contact_item {
	background: url(images/contact.png) no-repeat center -196px;
	background-size: 30px 30px;
}
.main_menu_item_link:hover span, .main_menu_item.active .main_menu_item_link span
	{
	color: #fff;
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 0 10px;
	padding-top: 30px;
}

.main_menu_item_link:hover span.laptop_item, .main_menu_item.active  .main_menu_item_link span.latop_item
	{
	background: #66CCCC url(images/laptop1.png) no-repeat center 2px;
	background-size: 30px 30px;
}

.main_menu_item_link:hover span.fashion_item, .main_menu_item.active  .main_menu_item_link span.fashion_item
	{
	background: #66CCCC url(images/clothes.png) no-repeat center 6px;
	background-size: 30px 30px;
}

.main_menu_item_link:hover span.watch_item, .main_menu_item.active  .main_menu_item_link span.watch_item
	{
	background: #66CCCC url(images/watch-3.png) no-repeat center 2px;
	background-size: 30px 30px;
}

.main_menu_item_link:hover span.shoe_item, .main_menu_item.active  .main_menu_item_link span.shoe_item
	{
	background: #66CCCC url(images/Running_shoe_icon.png) no-repeat center
		2px;
	background-size: 30px 30px;
}

.main_menu_item_link:hover span.beauty_item, .main_menu_item.active  .main_menu_item_link span.beauty_item
	{
	background: #66CCCC url(images/beauty.png) no-repeat center 2px;
	background-size: 30px 30px;
}

.main_menu_item_link:hover span.jewelry_item, .main_menu_item.active  .main_menu_item_link span.jewelry_item
	{
	background: #66CCCC url(images/jewelry.png) no-repeat center 2px;
	background-size: 30px 30px;
}

.main_menu_item_link:hover span.child_item, .main_menu_item.active  .main_menu_item_link span.child_item
	{
	background: #66CCCC url(images/baby.png) no-repeat center 2px;
	background-size: 30px 30px;
}

.main_menu_item_link:hover span.home_item, .main_menu_item.active  .main_menu_item_link span.home_item
	{
	background: #66CCCC url(images/home.png) no-repeat center 2px;
	background-size: 30px 30px;
}
.main_menu_item_link:hover span.contact_item, .main_menu_item.active  .main_menu_item_link span.contact_item
	{
	background: #66CCCC url(images/contact.png) no-repeat center 2px;
	background-size: 30px 30px;
}

.sub_menu_bg {
	position: absolute;
	display: none;
	background: #111;
	z-index: 99;
	top: 50px;
	left: 0px;
	overflow: hidden;
	padding: 0 5px;
	border-bottom: 3px solid #B61014;
}

.sub_menu_col {
	left: 0px;
	float: left;
	width: 350px;
	padding: 18px 15px 14px 15px;
}

.sub_menu_bg a {
	float: left;
	width: 100%;
	text-align: left;
	color: #fff;
}

.sub_menu_col_title {
	font-size: 17px;
	text-transform: uppercase;
	text-Shadow: 0 0 1px rgba(255, 255, 255, 0.8);
	border-bottom: 2px solid #B61014;
	margin-bottom: 10px;
	padding-bottom: 3px;
}

.sub_menu_col_title {
	border-bottom: 2px solid #fff;
	text-Shadow: 0 0 5px rgba(255, 255, 255, 1);
}
/*sCart_togge*/
#cart_toggle {
	display: none;
	height: 100%;
	background: #eee;
	padding: 10px;
	border: 1px solid darkgray;
}
.cart_toggle_img img{
	width: 100px;
	height: 100px;
}
.table_cart_toggle {
	border: 2px solid #eee;
}

.header_menu_bg a#pull {
	display: none;
}
.btn-view-cart-toggle{
	border-radius: 0;
	background: #59b210;
	color: #fff;
}
.del-cart-toggle a{
	background:#ff4f4f none repeat scroll 0 0;
	padding: 5px;
	color: #fff;
	text-decoration: none;
}
.header_menu_bg .menu_reponsive {
	line-height: 40px;
	text-decoration: none;
	color: #fff;
	text-shadow: 1px 1px 0px #283744;
}
.cart-toggle-header{
	background: #eee;
}
/*Reponsive___MENU*/
@media screen and (max-width:600px) {
	.header_menu_bg {
		height: auto;
	}
	.header_menu_bg .main_menu_bg {
		width: 100%;
		display: block;
		height: auto;
	}
	.main_menu_bg .main_menu_item {
		width: 50%;
		float: left;
		position: relative;
	}
	.main_menu_bg .main_menu_item .main_menu_item_active {
		background: #222;
	}
	.header_menu_bg a {
		text-align: left;
		width: 100%;
		text-indent: 25px;
	}
	.header_search {
		width: 100%;
	}
	.input_find{
	width: 100%;
	}
}

@media screen and (max-width:768px) {
	.header_search {
		width: 90%;
	}
	.header_account_reponsive {
		width: 100%;
	}
	.main_menu_item_link {
		font-size: 9px;
	}
	.input_find{
	width: 100%;
	}
	.main_header_detail_item_link{
	margin-right: 0px}
}

@media screen and (max-width:480px) {
	.header_menu_bg {
		border-bottom: 0;
	}
	.header_menu_bg .main_menu_bg {
		display: none;
		height: auto;
	}
	.header_menu_bg a#pull {
		display: block;
		background-color: #283744;
		width: 100%;
		position: relative;
	}
	.header_menu_bg a#pull:after {
		content: "";
		background: url(images/menu-btn.png) no-repeat;
		background-size: 30px 30px;
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 0;
		top: 0;
	}
	.btn-modal-comment{
	margin-left: 85px;
	}
	.input_find{
	width: 100%;
	}
	.header_login{
		border:none;
	}
}

@media screen and (width:320px) {
	.main_menu_bg .main_menu_item {
		display: block;
		float: none;
		width: 100%;
	}
	.main_menu_bg .main_menu_item a {
		border-bottom: 1px solid #576979;
	}
	.user_avat_toggle {
		margin-left: -26px;
	}
	.header_middle_item {
		margin-right: 68px;
	}
	.personal-profile {
		margin-left: -21px;
	}
	.input_find{
	width: 100%;
	}
	.header_login_link{
	padding-left: 8px}
}

@media screen and (max-width:360px) {
	.main_menu_bg .main_menu_item {
		display: block;
		float: none;
		width: 100%;
	}
	.main_menu_bg .main_menu_item a {
		border-bottom: 1px solid #576979;
	}
	.header_middle_item {
		margin-right: 108px;
	}
	.btn-modal-comment{
	margin-left: 85px;
	}
	.input_find{
	width: 100%;
	}
	.item-settings{
		left: -58px;
	}
}

@media screen and (max-width:412px) {
	.header_middle_item {
		margin-right: 70px;
		margin-top: 5px;
	}
	.input_find{
	width: 100%;
	}
}
@media screen and (max-width:414px) {
	.header_middle_item {
		margin-top: 5px;
		margin-right: 35px;
	}
}
@media screen and (max-width:375px){
	.item-settings{
	left: -55px;
	}
}
@media screen and (max-width:1024px) {
	.main_header_detail_item_link{
	margin-right: 0px}
}